:root {
  --main-font: 'Helvetica Neue Pro Extended', Arial, sans-serif;
  --main-green-color: #16774a;
  --main-pink-color: #f6a0a9;
  --main-yellow-color: #e1fd2c;
  --main-grey-color: #bbd4d0;
  --main-blue-color: #4f2479;
}

.underline {
  position: relative;
  display: inline-block;
  padding: 0.2em 0;
  overflow: hidden;
}

.underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--main-yellow-color);
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(-100%, 0, 0);
}

.underline:hover::after, .underline:focus::after {
  transform: translate3d(0, 0, 0);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop--is-hidden .modal {
  transform: scale(0.7);
}

html,
body {
  height: 100%;
  font-family: var(--main-font);
  font-style: normal;
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header-main-wrapper {
  background-color: var(--main-green-color);
}

.main {
  flex: 1 1 auto;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;
}

@media screen and (min-width: 768) {
  .section .features {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  display: block;
  font-size: 48px;
  line-height: 85%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-yellow-color);
  transition: all 0.5s;
}

@media screen and (max-width: 480px) {
  .logo {
    padding-left: 15px;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    margin-bottom: 20px;
  }
}

.logo.active {
  color: var(--main-green-color);
  transition: all 0.5s;
}

.btn {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-blue-color);
  background-color: var(--main-pink-color);
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 30px;
  height: 70px;
  min-width: 200px;
  cursor: pointer;
  border: 2px solid var(--main-blue-color);
}

.modal .btn {
  background-color: var(--main-yellow-color);
}

@media screen and (max-width: 342px) {
  .modal .btn {
    font-size: 18px;
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--main-green-color);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  opacity: 0.7;
}

#myBtn:hover {
  background-color: #555;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  transition: opacity 250ms linear;
}

.modal {
  position: relative;
  background-color: var(--main-pink-color);
  padding: 15px 24px;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  transition: transform 250ms linear;
}

@media screen and (min-width: 990px) {
  .modal {
    width: 70%;
  }
}

.modal__title {
  margin-bottom: 20px;
  font-family: Cyrene, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 42px;
  text-transform: uppercase;
  color: var(--main-blue-color);
}

.modal__title span {
  display: block;
}

.modal__text {
  color: var(--main-blue-color);
  font-size: 18px;
  margin-top: 0;
  line-height: 225%;
}

.btn--close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 80px;
  height: 80px;
  padding: 25px;
  border: 1px solid var(--main-blue-color);
  border-radius: 50%;
  fill: var(--main-blue-color);
  background-color: var(--main-yellow-color);
}

.btn--close:hover,
.btn--close:focus {
  cursor: pointer;
}

.btn--close:hover use,
.btn--close:focus use {
  filter: contrast(180%);
}

.modal__form {
  outline: 3px dotted orange;
}

.modal__form input {
  background-color: var(--main-pink-color);
  border: none;
  padding: 24px;
  width: 100%;
  color: var(--main-blue-color);
  text-transform: uppercase;
}

.modal__form input::placeholder {
  color: var(--main-blue-color);
  filter: contrast(10%);
  text-transform: none;
}

.modal__form input:not(:last-child) {
  border-bottom: 3px solid var(--main-blue-color);
}

.modal__main-info-container {
  outline: 3px solid var(--main-blue-color);
  border-radius: 8px;
}

.header {
  border-top: 1px solid var(--main-yellow-color);
  border-bottom: 1px solid var(--main-yellow-color);
  transition: all 0.5s;
}

@media screen and (max-width: 767px) {
  .header {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .header {
    position: sticky;
    top: 1rem;
  }
}

.header.active {
  border-top: 1px solid var(--main-green-color);
  border-bottom: 1px solid var(--main-green-color);
  transition: all 0.5s;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header-container {
    margin-left: 4vw;
    flex-direction: row;
    justify-content: space-between;
  }
}

.header-marquee {
  display: block;
  background-color: var(--main-yellow-color);
  color: var(--main-green-color);
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 479px) {
  .header-marquee {
    width: 100%;
  }
}

@media (min-width: 480px) {
  .header-marquee {
    width: 300px;
  }
}

.mini-loop__star {
  width: 14px;
  height: 14px;
  fill: var(--main-green-color);
}

.hero-section {
  margin-bottom: 64px;
}

.hero {
  padding-top: 100px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 170px;
  }
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 890px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-yellow-color);
}

@media screen and (max-width: 479px) {
  .hero-title {
    font-size: 4em;
    opacity: 100%;
  }
}

@media screen and (min-width: 480px) {
  .hero-title {
    font-size: 5em;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 8em;
    line-height: 85%;
  }
}

.hero-description {
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  color: var(--main-yellow-color);
}

@media screen and (max-width: 479px) {
  .hero-description {
    padding-right: 5px;
    padding-left: 5px;
  }
}

@media (min-width: 768px) {
  .hero-description {
    margin-top: 100px;
  }
}

.features {
  background-color: var(--main-pink-color);
}

.features-title {
  margin-top: 0px;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
  max-width: 890px;
  font-family: Cyrene, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-blue-color);
}

@media screen and (max-width: 479px) {
  .features-title {
    font-size: 3em;
    opacity: 100%;
  }
}

@media screen and (min-width: 480px) {
  .features-title {
    font-size: 4em;
  }
}

@media screen and (min-width: 768px) {
  .features-title {
    font-size: 6em;
    line-height: 85%;
  }
}

.features .hairstyles-pic {
  width: 100%;
  margin-bottom: 36px;
}

@media screen and (min-width: 768px) {
  .features .hairstyles-pic {
    width: 600px;
  }
}

.features .btn {
  background-color: var(--main-yellow-color);
}

@media screen and (max-width: 334px) {
  .features .btn {
    font-size: 20px;
  }
}

.features .description {
  color: var(--main-blue-color);
  margin-top: 0;
  margin-bottom: 36px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.75;
}

@media screen and (min-width: 768px) {
  .features .description {
    font-size: 40px;
    line-height: 1.75;
  }
}

.features .text {
  color: var(--main-blue-color);
  font-size: 18px;
  margin-top: 0;
  line-height: 225%;
}

@media screen and (min-width: 768px) {
  .features .text {
    font-size: 22px;
    line-height: 2.25;
  }
}

.features .text:not(:last-child) {
  margin-bottom: 36px;
}

.faq {
  background-color: var(--main-yellow-color);
}

.faq-title {
  border-top: 1px solid var(--main-blue-color);
  border-bottom: 1px solid var(--main-blue-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Cyrene, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-blue-color);
}

@media screen and (max-width: 479px) {
  .faq-title {
    font-size: 3em;
    opacity: 100%;
  }
}

@media screen and (min-width: 480px) {
  .faq-title {
    font-size: 4em;
  }
}

@media screen and (min-width: 768px) {
  .faq-title {
    font-size: 6em;
    line-height: 85%;
  }
}

.faq-list {
  color: var(--main-blue-color);
}

.faq-list .item {
  border-bottom: 1px solid var(--main-blue-color);
  padding-bottom: 32px;
}

.faq-list .item-content {
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .faq-list .item-content {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .faq-list .item-content {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .faq-list .item-content {
    width: 1200px;
  }
}

.faq-list .title {
  margin: 0;
  padding: 48px 0px;
  font-size: 1.6em;
  line-height: 100%;
  font-weight: 400;
  cursor: pointer;
}

@media screen and (min-width: 780px) {
  .faq-list .title {
    font-size: 3em;
  }
}

.faq-list .text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 225%;
  font-weight: 400;
}

@media screen and (min-width: 700px) {
  .faq-list .text {
    font-size: 22px;
  }
}

.section.contact {
  background-color: var(--main-grey-color);
}

.contact__marquee {
  background-color: var(--main-blue-color);
  border-bottom: 2px solid var(--main-yellow-color);
  border-top: 2px solid var(--main-yellow-color);
}

.contact__title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Cyrene, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-yellow-color);
}

@media screen and (min-width: 480px) {
  .contact__title {
    font-size: 32px;
  }
}

@media screen and (min-width: 768px) {
  .contact__title {
    font-size: 52px;
    line-height: 85%;
  }
}

@media screen and (min-width: 1000px) {
  .contact__title {
    font-size: 70px;
    line-height: 85%;
  }
}

.contact__cards-list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__cards-list :not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .contact__cards-list {
    flex-direction: row;
  }
  .contact__cards-list :not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.contact__square {
  background-color: var(--main-yellow-color);
  outline: 1px solid var(--main-blue-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

@media screen and (min-width: 320px) {
  .contact__square {
    min-height: 280px;
  }
}

.contact__content {
  border-top: 1px solid var(--main-blue-color);
  border-bottom: 1px solid var(--main-blue-color);
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--main-blue-color);
  filter: contrast(0.6);
}

@media (min-width: 400px) {
  .contact__content {
    font-size: 40px;
  }
}

@media (min-width: 480px) {
  .contact__content {
    font-size: 56px;
  }
}

@media (min-width: 768px) {
  .contact__content {
    font-size: 6vw;
  }
}

.contact__insta-link {
  padding: 20px 30px;
  background-color: var(--main-yellow-color);
  color: var(--main-blue-color);
  border: 1px solid var(--main-blue-color);
  font-size: 20px;
  text-transform: uppercase;
}

.contact__keep-me-informed-title {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #16774a;
}

@media screen and (min-width: 480px) {
  .contact__keep-me-informed-title {
    font-size: 4em;
  }
}

@media screen and (min-width: 768px) {
  .contact__keep-me-informed-title {
    font-size: 6em;
  }
}

.contact__form {
  margin-top: 64px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .contact__form {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .contact__form {
    width: 600px;
  }
}

.contact__signmeup-btn {
  display: block;
  margin-top: 50px;
  padding-bottom: 10px;
  width: 100%;
  background-color: inherit;
  color: var(--main-green-color);
  filter: contrast(1.75);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--main-green-color);
  font-size: 1em;
  line-height: 100%;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
}

.footer {
  background-color: var(--main-blue-color);
  color: var(--main-yellow-color);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.footer .container {
  margin-bottom: 30px;
}

.footer .title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 30px;
  font-family: 'Playfair Display', serif;
  font-size: 7vw;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-yellow-color);
}

.footer-marquee {
  display: block;
  margin-left: auto;
  background-color: var(--main-yellow-color);
  color: var(--main-green-color);
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.footer-marquee-text {
  filter: contrast(150%);
}

@media screen and (max-width: 479px) {
  .footer-marquee {
    width: 100%;
  }
}

@media (min-width: 480px) {
  .footer-marquee {
    width: 300px;
  }
}

.address {
  font-style: normal;
  max-width: 406px;
}

.address__title {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  line-height: 100%;
  text-transform: uppercase;
}

.address__text {
  margin-top: 36px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 225%;
}

.address__email {
  margin-top: 7px;
  color: var(--main-yellow-color);
  font-size: 18px;
  line-height: 120%;
}

.privacy-list {
  margin-top: 50px;
}

.privacy-list__text {
  color: var(--main-yellow-color);
  font-size: 18px;
  line-height: 120%;
}

.privacy-list .dev-link-item {
  transform: all 0.5s;
}

@media screen and (max-width: 767px) {
  .privacy-list .dev-link-item {
    margin-top: 8px;
  }
}

.privacy-list .dev-link-item:hover, .privacy-list .dev-link-item:focus {
  filter: contrast(120%);
  transform: all 0.5s;
}

.privacy-list__dev-link-container .link {
  display: flex;
}

.privacy-list__dev-img {
  width: 50px;
  background-color: transparent;
  filter: contrast(0.8);
}

@media screen and (min-width: 768px) {
  .privacy-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */