:root {
  --main-font: 'Helvetica Neue Pro Extended', Arial, sans-serif;
  // --secondary-font: 'Raleway', sans-serif;
  --main-green-color: #16774a;
  --main-yellow-color: #e1fd2c;

  // --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
