.logo {
  display: block;
  font-size: 48px;

  line-height: 85%;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-yellow-color);

  transition: all 0.5s;

  @media screen and (max-width: 480px) {
    padding-left: 15px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.logo.active {
  color: var(--main-green-color);
  transition: all 0.5s;
}
