.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px); // This be the blur

  transition: opacity 250ms linear;

  overflow-y: scroll;
}

.modal {
  position: relative;
  background-color: var(--main-pink-color);

  padding: 15px 24px;
  padding-top: 58px;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);

  @media screen and (min-width: 990px) {
    width: 70%;
  }

  transition: transform 250ms linear;

  &__title {
    margin-bottom: 20px;
    font-family: Cyrene, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 42px;
    text-transform: uppercase;
    color: var(--main-blue-color);
    & span {
      display: block;
    }
  }

  &__text {
    color: var(--main-blue-color);
    font-size: 18px;
    margin-top: 0;
    line-height: 225%;
    margin-bottom: 0;
  }
}
