.modal__form {
  // outline: 3px dotted orange;

  input {
    background-color: var(--main-pink-color);
    border: none;
    padding: 24px;
    width: 100%;

    color: var(--main-blue-color);
    text-transform: uppercase;

    &::placeholder {
      color: var(--main-blue-color);
      filter: contrast(10%);
      text-transform: none;
    }

    &:not(:last-child) {
      border-bottom: 3px solid var(--main-blue-color);
    }
  }
}

.modal__main-info-container {
  outline: 3px solid var(--main-blue-color);
  border-radius: 8px;
}
