.modal__form {
  // outline: 3px dotted orange;
  margin-top: 40px;

  input {
    background-color: var(--main-pink-color);
    border: none;
    padding: 24px;
    width: 100%;

    color: var(--main-blue-color);
    text-transform: uppercase;

    &::placeholder {
      color: var(--main-blue-color);
      filter: contrast(50%);
      letter-spacing: 1.5px;
      text-transform: none;
    }

    &:not(:last-child) {
      border-bottom: 3px solid var(--main-blue-color);
    }
  }

  .privacy-container {
    outline: 1px solid red;
    display: flex;
    margin-top: 40px;
  }
  .privacy-label {
    outline: 2px solid green;
    text-align: justify;
    display: inline-block;
    color: var(--main-blue-color);
    font-size: 18px;
    margin-top: 0;
    line-height: 150%;
    margin-bottom: 0;
  }
}

.modal__main-info-container {
  outline: 3px solid var(--main-blue-color);
  border-radius: 8px;
}
