.modal__form {
  margin-top: 40px;

  &-4inputs-container {
    outline: 3px solid var(--main-blue-color);
    border-radius: 8px;
  }

  input {
    background-color: var(--main-pink-color);
    border: none;
    padding: 24px;
    width: 100%;

    color: var(--main-blue-color);
    text-transform: uppercase;

    &::placeholder {
      color: var(--main-blue-color);
      filter: contrast(50%);
      letter-spacing: 1.5px;
      text-transform: none;
    }

    &:not(:last-child) {
      border-bottom: 3px solid var(--main-blue-color);
    }
  }

  // !!! privacy Start !!!
  .privacy {
    display: flex;
    margin-top: 40px;

    .checkbox {
      position: absolute !important;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      padding: 0 !important;
      border: 0 !important;
      height: 1px !important;
      width: 1px !important;
      overflow: hidden;
    }

    .icon {
      content: '';

      flex: 0 0 auto;
      // the same flex: none; - forbid flex-element to shrink

      width: 24px;
      height: 24px;

      border: 3px solid var(--main-blue-color);
      border-radius: 4px;
      margin-right: 10px;
    }

    .checkbox:checked + .icon {
      background-color: var(--main-yellow-color);
    }

    .text {
      text-align: justify;

      color: var(--main-blue-color);
      font-size: 18px;

      line-height: 170%;
    }
  }
  // !!! privacy End !!!
}
