<section class="section contact">
  <h2 class="contact-title">Jesteśmy zainspirowane</h2>
  <div class="container">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, delectus! Consequuntur,
      quisquam velit? Explicabo corporis dolores exercitationem repellat accusamus, sunt quod eum
      velit voluptatibus aspernatur porro et consectetur voluptate deserunt, atque placeat maiores.
      Voluptates ut recusandae iusto id sapiente rem? Nisi delectus autem dolores tenetur
      consequuntur vel eos doloremque rem blanditiis voluptate eligendi eum aliquam reiciendis iusto
      magni eaque repellendus, quidem natus ex! Rem, minima quo deleniti molestias itaque quia
      necessitatibus, non eligendi labore hic at, incidunt et sint repellat rerum voluptas magni
      quisquam distinctio iste? Mollitia odit alias, laudantium unde commodi, at et necessitatibus
      corporis earum illum, pariatur aliquid. Nesciunt sit consectetur veritatis, alias consequuntur
      repudiandae dolorem quas aperiam ad neque reiciendis corrupti corporis atque nulla laboriosam?
      Dolorum maiores temporibus consectetur nisi reprehenderit facilis mollitia, ducimus unde,
      soluta excepturi, odit illum praesentium? Assumenda dolores veritatis est optio, enim ipsa
      temporibus eligendi quo maxime veniam autem placeat illo culpa necessitatibus in modi quaerat
      numquam deleniti eveniet voluptatum pariatur nesciunt ab soluta totam? Veniam, sit? Ad, ex
      accusantium. Mollitia voluptatem incidunt minima? Soluta nulla beatae dolores consequatur
      minus consequuntur alias. Corrupti ratione beatae eligendi eaque unde cumque saepe. Doloribus
      quidem placeat commodi nihil perferendis, obcaecati, quasi nisi ratione voluptatibus velit
      recusandae!
    </p>
  </div>
</section>
