<section class="section contact">
  <marquee class="contact-marquee" behavior="scroll" scrollamount="3" direction="left">
    <h2 class="contact-title">Jesteśmy zainspirowane</h2>
  </marquee>

  <ul class="container contact-cards-list list">
    <li class="square">
      <div class="content">Mój</div>
    </li>

    <li class="square">
      <div class="content">Anylyk</div>
    </li>
  </ul>

  <div class="container contact-link-form">
    <div class="contact-keep-me-inf-container">
      <span class="contact-keep-me-informed-title">Informuj</span>
      <span class="contact-keep-me-informed-title">mnie</span>
    </div>
    <a class="link contact-signmeup-link" href="">Sign me up</a>
  </div>
</section>
