<section class="section faq">
  <h2 class="faq-title">Często zadawane pytania</h2>

  <ul class="list faq-list">
    <li class="item">
      <div class="item-content">
        <h3 class="title">Kto się zajmuję w MójAnylyk?</h3>
        <p class="text">
          Zajmuję się jedna osoba, która po prostu lubi ekperementować z układaniam włosów. Ona
          zawsze zadaje sobie pytannia: a co mogłabym jeszcze wymyślać?
        </p>
      </div>
    </li>
    <li class="item">
      <div class="item-content">
        <h3 class="title">Czemu firma MójAnylyk była zalorzona?</h3>
        <p class="text">
          MójAnylyk jest ruchem kontrującym. Układamy warkocze tak jak życze klient albo
          podpowiadamy jak by wyglądało bardzo dobrze.
        </p>
      </div>
    </li>
  </ul>
</section>
