<section class="section features">
  <div class="container">
    <h2 class="features-title">Nie ma co się ukrywać.</h2>

    <img
      class="hairstyles"
      src="./assets/images/features/different-hairstyles.jpg"
      alt="rozne uklady wlosow"
    />

    <p class="description">
      Robienie prawdziwego wyboru powinno być proste. Jednak bardzo trudno znaleźć naprawdę dobry
      product po jakośći. I dlaczego tak naprawdę uważamy, że to normalne, że sami ich szukamy?
    </p>

    <p class="text">
      Czas to zmienić, pomyśleliśmy w MójAnylyk. Dlatego naprawdę szczerze podchodzimy do naszego
      układania wlosow. Powiemy Ci dokładnie, gdzie je wykonujemy, co zawierają i jak je dostarczamy
      do Twojego domu.
    </p>

    <p class="text">Nie ma co się ukrywać. Wybież MójAnylyk!</p>

    <button type="button" class="btn">_ informuj mnie</button>
  </div>
</section>
