<section class="section features">
  <div class="container">
    <h2 class="features-title">Nie ma co się ukrywać.</h2>

    <img
      class="hairstyles"
      src="./assets/images/features/different-hairstyles.jpg"
      alt="rozne uklady wlosow"
    />

    <p class="description">
      Making the right choices should be easy. Yet it is very difficult to find truly fair products.
      And why do we actually think it is normal to look for them
    </p>

    <p class="text">
      Time to change that, we thought at Noodz. That is why we are really honest about our oral care
      products. We tell you exactly where we make them, what they contain and how we deliver them to
      your home. Soon we will launch the first Noodz: toothpaste that you can chew.
    </p>

    <p class="text">Nothing to hide. Choose Noodz!</p>

    <button type="button" class="btn">_ informuj mnie</button>
  </div>
</section>
