<header class="header">
  <div class="header-container">
    <span class="logo">Mój Anylyk</span>
    <div class="header-running-text">
      <marquee style="display: block" behavior="scroll" scrollamount="3" direction="left">
        <svg xmlns="http://www.w3.org/2000/svg" class="mini-loop__star" viewBox="0 0 36.652 38.808">
          <path
            d="M39.494-46.354,22.442-53.116,39.4-59.878l-3.234-5.684L21.756-54.194,24.4-72.52H17.934L20.58-54.194,6.174-65.562,2.94-59.878l16.954,6.762L2.842-46.354l3.332,5.586L20.58-52.136,17.934-33.712H24.4L21.756-52.136,36.162-40.768Z"
            transform="translate(-2.842 72.52)"
          ></path>
        </svg>
        Mój Anylyk - robimy bardzo dobre układy.
      </marquee>
    </div>
  </div>
</header>
