:root {
  --main-font: 'Helvetica Neue Pro Extended', Arial, sans-serif;
  // --secondary-font: 'Raleway', sans-serif;
  --main-green-color: #16774a;
  --main-pink-color: #f6a0a9;
  --main-yellow-color: #e1fd2c;
  --main-grey-color: #bbd4d0;
  --main-blue-color: #4f2479;

  // --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
